extends layout
mixin btn(no, name)
  div
    a.btn(id="marker#{no}", href="pattern?no=#{no}") #{no}.#{name}
block content
  h1 pattern changer
  +btn(1, "K2000")
  +btn(2, "Juliana")
  +btn(3, "Vital")
  +btn(4, "Circle")
  br(clear="all")
  hr
  +btn(0, "NO PAT")
  
  script(type="text/javascript").
    var t = document.getElementById("marker#{pattern}");
    if (t) {
        t.innerText = "→ "+t.innerText + " ←";
    }
