extends layout
mixin btn(no, name)
  div
    a.btn(id="marker#{no}", href="pattern?no=#{no}") #{no}.#{name}
block content
  h1 pattern changer
  - for (var i = 1; i< handlers.length; i++) {
    +btn(i, handlers[i][0])
  - }
  br(clear="all")
  hr
  +btn(0, "NO PAT")
  
  script(type="text/javascript").
    var t = document.getElementById("marker#{pattern}");
    if (t) {
        t.innerText = "→ "+t.innerText + " ←";
    }
